<!-- wp:template-part {"slug":"header","theme":"swimming-pool-service","tagName":"header"} /-->

<!-- wp:pattern {"slug":"swimming-pool-service/banner"} /-->

<!-- wp:group {"tagName":"main","className":"about-us-section","layout":{"type":"constrained","contentSize":"80%"}} -->
<main id="primary" class="wp-block-group about-us-section"><!-- wp:pattern {"slug":"swimming-pool-service/about-us"} /--></main>
<!-- /wp:group -->

<!-- wp:spacer {"height":"30px"} -->
<div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:pattern {"slug":"swimming-pool-service/pricing-section"} /-->

<!-- wp:pattern {"slug":"swimming-pool-service/gallery-section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"swimming-pool-service","tagName":"footer"} /-->